<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC80uIir7CLUabzwvSDWzjBQRCj700vaEw</string>
	<key>GCM_SENDER_ID</key>
	<string>235993467025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lma.finovateApp</string>
	<key>PROJECT_ID</key>
	<string>finovate-app-testing-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>finovate-app-testing-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235993467025:ios:4fb23b6d34089cc01e5730</string>
</dict>
</plist>